.logo{
    margin-left: 20px;
    font-size: x-large;
}

.title{
    font-size: x-large;
}

.img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin: auto;
    padding: auto;
    background-color: transparent;
}

.imgCarru{
    width: auto;
    height: 400px;
    object-fit: cover;
    margin: auto;
    padding: auto;

}


.info{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.superior, img{
    margin-top: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card1{
    background-color: rgba(255, 102, 0, 0.514);
}
.card2{
    background-color: rgba(33, 162, 221, 0.664);
}
.card3{
    background-color: rgba(33, 162, 221, 0.664);
}

h5 a{
    color: white;
    
}

.redondo{
    border-radius: 25px;
    padding-left: 25px;
}

.espaciado{
    padding-left: 25px;
}
.nombre{
    text-align:right;
    color: white;
}

.ventimg{
    width: 200px;
    height: auto;
    padding: 30px;
    margin-top: auto;
}

.details{
    text-align: center;
}